@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONT */
@import "@fontsource-variable/geist";

/* ROOT COLORS */
:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
}

/* DARK MODE */
.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
}

/* BASE STYLES */
@layer base {
  * {
    @apply border-gray-200;
  }

  body {
    @apply bg-white text-black;
  }

  html {
    font-family: 'Geist Variable', sans-serif;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100px) translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

.animate-slide-in {
  animation: slideIn 0.4s ease-out;
}